USE [master]
GO
/****** Object:  Database [QLweb_ban_hang]    Script Date: 17-Mar-26 01:55:53 PM ******/
CREATE DATABASE [QLweb_ban_hang] ON  PRIMARY 
( NAME = N'QLweb_ban_hang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLweb_ban_hang.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLweb_ban_hang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\QLweb_ban_hang_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLweb_ban_hang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLweb_ban_hang]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 17-Mar-26 01:55:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [bigint] IDENTITY(0,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[inventory_logs]    Script Date: 17-Mar-26 01:55:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventory_logs](
	[log_id] [int] IDENTITY(0,1) NOT NULL,
	[product_id] [bigint] NOT NULL,
	[change_amount] [int] NOT NULL,
	[reason] [nvarchar](100) NULL,
	[created_at] [datetime2](7) NOT NULL,
	[is_plus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_bills]    Script Date: 17-Mar-26 01:55:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_bills](
	[order_id] [bigint] IDENTITY(0,1) NOT NULL,
	[account_id] [bigint] NULL,
	[is_purchased] [bit] NOT NULL,
	[created_at] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__order__465962292893CCE1] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 17-Mar-26 01:55:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[order_detail_id] [bigint] IDENTITY(0,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[product_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 17-Mar-26 01:55:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [bigint] IDENTITY(0,1) NOT NULL,
	[category_id] [bigint] NULL,
	[product_name] [nvarchar](200) NOT NULL,
	[product_description] [nvarchar](max) NULL,
	[price] [int] NOT NULL,
	[stock_quantity] [int] NOT NULL,
	[image_url] [varchar](max) NULL,
 CONSTRAINT [PK__products__47027DF523A57E88] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchases]    Script Date: 17-Mar-26 01:55:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchases](
	[purchase_id] [bigint] IDENTITY(0,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[purchase_time] [datetime2](7) NOT NULL,
	[is_processed] [bit] NOT NULL,
 CONSTRAINT [PK__purchase__87071CB979489E56] PRIMARY KEY CLUSTERED 
(
	[purchase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 17-Mar-26 01:55:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[account_id] [bigint] IDENTITY(0,1) NOT NULL,
	[account_name] [nvarchar](100) NULL,
	[full_name] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[password_hash] [varchar](255) NOT NULL,
	[password_plain] [varchar](50) NULL,
	[phone_number] [int] NULL,
	[user_address] [nvarchar](100) NULL,
	[is_admin] [bit] NOT NULL,
 CONSTRAINT [PK__users__46A222CDC940C8A5] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (3, N'Medicine')
INSERT [dbo].[categories] ([category_id], [category_name]) VALUES (7, N'Personal Equipment')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[order_bills] ON 

INSERT [dbo].[order_bills] ([order_id], [account_id], [is_purchased], [created_at]) VALUES (5, 1, 0, CAST(N'2025-12-16T20:28:51.7800000' AS DateTime2))
INSERT [dbo].[order_bills] ([order_id], [account_id], [is_purchased], [created_at]) VALUES (23, 1, 1, CAST(N'2026-01-02T10:59:37.6233333' AS DateTime2))
INSERT [dbo].[order_bills] ([order_id], [account_id], [is_purchased], [created_at]) VALUES (24, 1, 1, CAST(N'2026-01-02T11:02:38.2000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[order_bills] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([order_detail_id], [order_id], [product_id], [quantity]) VALUES (9, 23, 1, 1)
INSERT [dbo].[order_items] ([order_detail_id], [order_id], [product_id], [quantity]) VALUES (10, 24, 1, 2)
INSERT [dbo].[order_items] ([order_detail_id], [order_id], [product_id], [quantity]) VALUES (12, 30, 16, 2)
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [category_id], [product_name], [product_description], [price], [stock_quantity], [image_url]) VALUES (1, NULL, N'Wireless Headphones', N'Premium wireless headphones with active noise cancellation, 30-hour battery life, and superior sound quality. Perfect for music lovers and professionals alike.', 4599770, 11, N'frontend\src\assets\store_item-images\testing\wireless_headphones_product.png')
INSERT [dbo].[products] ([product_id], [category_id], [product_name], [product_description], [price], [stock_quantity], [image_url]) VALUES (2, NULL, N'Smart Watch', N'Modern smart watch with fitness tracking, heart rate monitoring, and seamless smartphone integration. Stay connected and healthy.', 6899770, 12, N'frontend\src\assets\store_item-images\testing\smart_watch_product.png')
INSERT [dbo].[products] ([product_id], [category_id], [product_name], [product_description], [price], [stock_quantity], [image_url]) VALUES (3, NULL, N'Professional Laptop', N'High-performance laptop with latest processor, 16GB RAM, and stunning display. Perfect for work and entertainment.', 29899770, 6, N'frontend\src\assets\store_item-images\testing\laptop_computer_product.png')
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[purchases] ON 

INSERT [dbo].[purchases] ([purchase_id], [order_id], [purchase_time], [is_processed]) VALUES (0, 24, CAST(N'2026-01-02T11:57:05.9810000' AS DateTime2), 1)
INSERT [dbo].[purchases] ([purchase_id], [order_id], [purchase_time], [is_processed]) VALUES (1, 23, CAST(N'2026-01-04T22:55:08.3500000' AS DateTime2), 1)
INSERT [dbo].[purchases] ([purchase_id], [order_id], [purchase_time], [is_processed]) VALUES (2, 29, CAST(N'2026-01-08T22:35:53.8000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[purchases] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([account_id], [account_name], [full_name], [email], [password_hash], [password_plain], [phone_number], [user_address], [is_admin]) VALUES (0, N'john_doe', N'John Doe', NULL, N'$2b$12$b5y2Lfgnq19J9BIKB7mgUOEG0wXQm5XdKwvJM6F7DkmbHw2GTl/Fm', N'password123', NULL, NULL, 1)
INSERT [dbo].[users] ([account_id], [account_name], [full_name], [email], [password_hash], [password_plain], [phone_number], [user_address], [is_admin]) VALUES (1, N'jane_doe', NULL, N'fdoe@gmail.com', N'$2b$12$yaHjxbRq38VGCD0HVNeDS.3eEpoHGoMmSp1yam0UjkVP2di7h92.2', N'1234', 123456789, NULL, 0)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_account_name]    Script Date: 17-Mar-26 01:55:54 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [unique_account_name] UNIQUE NONCLUSTERED 
(
	[account_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E6164E93B675B]    Script Date: 17-Mar-26 01:55:54 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ__users__AB6E6164E93B675B] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[inventory_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_bills] ADD  CONSTRAINT [DF__order__created_a__403A8C7D]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products] ADD  CONSTRAINT [DF__products__stock___3C69FB99]  DEFAULT ((0)) FOR [stock_quantity]
GO
ALTER TABLE [dbo].[purchases] ADD  CONSTRAINT [DF__purchase___purch__4BAC3F29]  DEFAULT (getdate()) FOR [purchase_time]
GO
ALTER TABLE [dbo].[inventory_logs]  WITH CHECK ADD  CONSTRAINT [FK__inventory__produ__48CFD27E] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[inventory_logs] CHECK CONSTRAINT [FK__inventory__produ__48CFD27E]
GO
ALTER TABLE [dbo].[order_bills]  WITH CHECK ADD  CONSTRAINT [FK__order__account_i__412EB0B6] FOREIGN KEY([account_id])
REFERENCES [dbo].[users] ([account_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_bills] CHECK CONSTRAINT [FK__order__account_i__412EB0B6]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK__order_ite__order__440B1D61] FOREIGN KEY([order_id])
REFERENCES [dbo].[order_bills] ([order_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK__order_ite__order__440B1D61]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK__order_ite__produ__44FF419A] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK__order_ite__produ__44FF419A]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK__products__catego__3D5E1FD2] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK__products__catego__3D5E1FD2]
GO
ALTER TABLE [dbo].[purchases]  WITH CHECK ADD  CONSTRAINT [FK__purchase___order__4CA06362] FOREIGN KEY([order_id])
REFERENCES [dbo].[order_bills] ([order_id])
GO
ALTER TABLE [dbo].[purchases] CHECK CONSTRAINT [FK__purchase___order__4CA06362]
GO
USE [master]
GO
